@font-face {
    font-family: face;
    src: url(../fonts/Cairo-Regular.ttf);
}
@font-face {
    font-family: arab-font;
    src: url(../fonts/ElMessiri-Regular.ttf);
}

.background {
    background-image: url(../images/bg5.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    filter: brightness(60%);
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(77, 64, 189, 0.5);
    position: absolute;
    top: 0;
}
h1.Name{
    font-size: 50px;
    color: white;
    font-family: face;
    position: absolute;
    left: 40%;
    top: 20px;
    font-weight: bolder;
}
h1.Name span{

    color: #8b40bd;
    position: absolute;
}
h1.eng {
    font-size: 40px;
    font-family: "Lucida Handwriting", cursive;
    color: white;
    padding: 100px;
    font-weight: bolder;

}

button:hover{
    background-color: #bd40b0;
}
h1.arab {
    font-size: 40px;
    direction: rtl;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 100px;
}

.white {
    background-color: rgba(255, 255, 255, .9);
    width: 500px;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 35%;
    border-radius: 8px;
    border: 1px solid black;
}
a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

a:hover {
    text-decoration: none;
    color: white;
}

.arabic {
    width: 200px;
    height: 50px;
    margin: 100px 150px;
    background-color: #8b40bd;
    font-family: arab-font;
}
.english{
    width: 200px;
    height: 50px;
    margin: 0px 150px;
    background-color: #8b40bd;
    font-family: arab-font;
}

@media(max-width:575px) {
    h1.eng, h1.arab {
        font-size: 20px;
        padding: 50px;
        padding-top: 100px;
        margin-top: 30px;
    }
    .logo{
        width: 350px;
      position: absolute;
      left: 15px;
      top: 20px;
      margin-bottom: 50px;
    }
    h1.Name{
        font-size: 40px;
    }
    .white{
        left: 25%;
        width: 50%;
    }
    .arabic,.english{
        width: 150px;
        margin-left: 30px;
    }
}